#inspectorButton.inspector-set-status-0 {
  background-color: #cd0a0a;
}
#inspectorButton.inspector-set-status-1 {
    /*mix-blend-mode: difference;*/
  background-color: green;
}

#jentitylink-inspector-status-label {
  background: white;
  padding: 0.25em;
  border: 1px solid;
  margin: 0.25em;
  display: inline-block;
}
#jentitylink-inspector-status-label.status-0 {
  color: #cd0a0a;
}

#jentitylink-inspector-status-label.status-1 {
  color: green;
}
